<!DOCTYPE html>
<html lang="ja">

<head>
<%- include('./_inc/_head', {
    absPath: filename,
    title:'英検過去問データ',
    keywords:'',
    description:'',
    url:'',
    cssName: '',
    pageName: ''
}) %>
</head>
<body>
    <div class="index-wrap">
        <div class="grade-index">
            <h2>英検 - 過去問</h2>
            <div class="grade-list">
                <ul>
                    <li>
                        <a href="./grade_1/"><span>1級</span></a>
                    </li>
                    <li>
                        <a href="./grade_p1/"><span>準1級</span></a>
                    </li>
                    <li>
                        <a href="./grade_2/"><span>2級</span></a>
                    </li>
                    <li>
                        <a href="./grade_p2/"><span>準2級</span></a>
                    </li>
                    <li>
                        <a href="./grade_3/"><span>3級</span></a>
                    </li>
                    <li>
                        <a href="./grade_4/"><span>4級</span></a>
                    </li>
                    <li>
                        <a href="./grade_5/"><span>5級</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<%- include('./_inc/_footer', {
    absPath: filename,
    cssName: '',
    pageName: ''
}) %>
</body>
</html>